.App {
  text-align: center;
  padding: 2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Texto oscuro */
}
